@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    color-scheme: dark;
}
body {
    font-size: 16px;
}
input[type=range] {
    -webkit-appearance: none;
    appearance: none;
    height: 8px;
    border-radius: 4px;
    background-color: inherit;
    border: solid 1px rgb(39, 39, 42);
}
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 17px;
    height: 17px;
    border-radius: 8.5px;
    background-color: rgb(63, 63, 70);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.7);
    border: none;
}
input[type=range]::-moz-range-thumb {
    width: 17px;
    height: 17px;
    border-radius: 8.5px;
    background-color: rgb(63, 63, 70);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.7);
    border: none;
}
input[type=range]::-webkit-slider-thumb:hover,
input[type=range]::-webkit-slider-thumb:active {
    background-color: rgb(15, 118, 110);
}
input[type=range]::-moz-range-thumb:hover,
input[type=range]::-moz-range-thumb:active {
    background-color: rgb(15, 118, 110);
}